# Python files
__pycache__/
*.pyc
*.py[cod]
*$py.class
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Project files
*.db
*.env
!example.env
!docker.env
data/
*.bin

# custom shortcut files
.pytest_cache/
.ipynb_checkpoints/
test-env.toml
