fastapi==0.63.0
pydantic==1.8.1
python-dotenv==0.17.1
typing-extensions==3.10.0.0
databases==0.4.3
requests==2.25.1
rich==10.1.0
Jinja2==2.11.3
pika==1.2.0
numpy==1.20.2
filesplit==3.0.2
uvicorn
python-multipart
email-validator
fastapi-mail
pandas
PyYAML
aiofiles
aio_pika
aiosqlite
###todo pycryptodome-3.10.1 ????
pycryptodome