fastapi==0.70.0
pydantic==1.9.0
python-dotenv==0.19.2
typing_extensions==4.0.1
databases==0.5.5
requests==2.27.1
rich==11.1.0
Jinja2==3.0.3
pika==1.2.0
numpy==1.22.1
filesplit==3.0.2
treelib==1.6.1
uvicorn
python-multipart
email-validator
fastapi-mail
pandas
PyYAML
aiofiles
aio_pika
aiosqlite
gunicorn==20.1.0
###todo pycryptodome-3.10.1 ????
pycryptodome