<h3> Hello {{ body.username }}</h3>
<p>
    Thank you for creating an account on zerospeech.com. <br/>
    Before accessing your account you need to verify your email address.
    To do so you need to click on the following link <a href="{{ body.url }}"> {{ body.url }}</a>
</p>

<h4>PS: this emails was sent automatically thank you for not replying directly.</h4>
<p> For any issue you can send an email to {{ body.admin_email }} </p>