<h4>Hello admin,</h4>
<p>
    The zerospeech API would like to notify you that the user: {{ body.username }}
    made a new submission to the {{ body.challenge_name }}.
    That was scheduled to be evaluated using the {{ body.pipeline_name }}.
</p>
<h5> Yours, zerospeech-bot </h5>


<h6>PS: i am a bot, please do not reply to this email.</h6>