<h3> Hello {{ body.username }}</h3>
<p>
    It seems that you would like to reset your password.
    No worries you can do that just by clicking on the following link <a href="{{ body.url }}"> {{ body.url }}</a>
</p>
<p> <b> The link will expire in 10 minutes </b></p>

<p> If this request was not made by you, you can ignore this email. </p>

<h4>PS: this emails was sent automatically thank you for not replying directly.</h4>
<p> For any issue you can send an email to {{ body.admin_email }} </p>