[Unit]
Description=gunicorn daemon
{% if has_socket %}
Requires=gunicorn.socket
{% endif %}
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User={{user}}
Group={{group}}
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory={{run_dir}}
ExecStart={{gunicorn_exe}} {{gunicorn_cmd}}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
