[Unit]
Description=zr worker server
After=network.target
After=syslog.target

[Service]
Type=simple
User={{user}}
Group={{group}}
Environment=ZR_ENV_FILE={{settings_file}}
WorkingDirectory={{run_dir}}
ExecStart={{cmd}}

[Install]
WantedBy=multi-user.target
