<h4>Dear Zerospeech Participant, </h4>
<p>
    We are proud to announce a new issue of the Zero Resource Speech Challenge.
    For more information on what the challenge is and how to participate you can head over
    to our website <a href="{{ body.url }}"> {{ body.url }} </a>
</p>
<h5> </h5>

<h6> PS: this message was sent automatically for any issue you can contact {{ body.admin_email }} </h6>