<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Zerospeech Challenge</title>
    <link rel="icon"
          type="image/png"
          href="https://zerospeech.com/_static/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        html, body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        body, div, form, input, select, p {
            padding: 0;
            margin: 0;
            outline: none;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            color: #666;
        }

        h1 {
            margin: 0;
            font-weight: 400;
            text-align: center;
        }

        h3 {
            margin: 12px 0;
            color: #8ebf42;
        }

        .main-block {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            background: #fff;
        }

        form {
            width: 100%;
            padding: 20px;
        }

        fieldset {
            border: none;
            border-top: 1px solid #8ebf42;
            margin-bottom: 35px;
        }

        .account-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 35px;
        }

        .account-details > div, .personal-details > div > div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .account-details > div, .personal-details > div, input, label {
            width: 100%;
        }

        label {
            padding: 0 5px;
            text-align: right;
            vertical-align: middle;
        }

        input {
            padding: 5px;
            vertical-align: middle;
        }


        button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            background: #8ebf42;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }

        button:hover {
            background: #82b534;
        }

        @media (min-width: 568px) {
            .account-details > div, .personal-details > div {
                width: 50%;
            }

            label {
                width: 40%;
            }

            input {
                width: 60%;
            }
        }
    </style>
</head>
<body>
<div class="main-block">
    <form action="{{ submit_url }}" method="post">
        <h1> Zerospeech Password Reset </h1>
        <fieldset>
            <h3> For {{ username }}</h3>
            <div class="account-details">
                <div><label>New Password*</label><input type="password" name="password" required></div>
                <div><label>Repeat New Password*</label><input type="password" name="password_validation" required></div>
            </div>
        </fieldset>
        <button type="submit">Submit</button>
        <input type="hidden" name="session_code" value="{{ session }}">
    </form>
</div>
</body>
</html>
