[Unit]
Description=ZR WORKER DAEMON
After=network.target

[Service]
Type=forking
User={{user}}
Group={{group}}
EnvironmentFile={{environmentFile}}
WorkingDirectory={{workDirectory}}
ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} multi start ${CELERYD_NODES} \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}" --pool=${CELERYD_POOL_TYPE} --concurrency=${CELERYD_CONCURRENCY}\
    -Q ${CELERYD_QUEUE_NAME} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}"'
ExecReload=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} multi restart ${CELERYD_NODES} \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}" --pool=${CELERYD_POOL_TYPE} --concurrency=${CELERYD_CONCURRENCY}\
    -Q ${CELERYD_QUEUE_NAME} ${CELERYD_OPTS}'
Restart=always

[Install]
WantedBy=multi-user.target
